<br>
{{> title }}
<br>
<div class="container">
    <h2>Administrador de Productos</h2>
    <br>
    {{> form }}
    <br>
</div>
<div class="col d-flex flex-column align-items-center">
    <a href="/productos" class="btn btn-dark">Ir al catalogo de Productos</a>
</div>
<br>
{{> footer }}